<div class="container pt-4">
  <h1>About</h1>
  <div class="row">
    <div class="col">
      <p class="">Junior Web Developer with 2 years experience freelancing. Passionate about learning and furthering myself as a developer.
            Able to complete tasks efficiently and to customer satisfaction. Currently working on awesome apps for the web! Currently
            located in Hickory, NC. Willing to relocate!</p><br>
      <p class="">Avid video game player, love playing as a team. Always looking to better myself. </p>
    </div>
    <div class="col">
      <p>Check out my Github for some examples of my work and LinkedIn for more information.</p>
      <div>
        <a class="btn btn-social-icon btn-github" href="https://github.com/joshua-hallwd">
          <span class="fa fa-github"></span>
        </a>
      </div>
      <div class="pt-2">
        <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/joshhallwd/">
          <span class="fa fa-linkedin"></span>
        </a>
    </div>
    </div>
  </div>
</div>
<div class="container">
  <h2>Resume</h2>
  <div class="max-height">
    <div class="embed-responsive embed-responsive-1by1 w-75 max-height">
      <embed class="embed-responsive-item" src="/assets/JoshuaHallResume.pdf" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
    </div>
  </div>
</div>